In [13]:
import pandas as pd

In [23]:
frame = pd.DataFrame({'numbers':range(10), 'chars': ['a']*10})
frame

  chars  numbers
0     a        0
1     a        1
2     a        2
3     a        3
4     a        4
5     a        5
6     a        6
7     a        7
8     a        8
9     a        9

In [24]:
frame.to_csv('first_table.txt', sep='\t', header=True, index=True)

In [35]:
frame = pd.read_csv('first_table.txt', header=0, sep='\t')

In [33]:
frame

   Unnamed: 0 chars  numbers
0           0     a        0
1           1     a        1
2           2     a        2
3           3     a        3
4           4     a        4
5           5     a        5
6           6     a        6
7           7     a        7
8           8     a        8
9           9     a        9

In [37]:
frame.shape

(10, 3)

In [38]:
frame.columns

Index([u'Unnamed: 0', u'chars', u'numbers'], dtype='object')

In [39]:
type(frame)

pandas.core.frame.DataFrame

In [40]:
new_line = {'Chars':'d', 'Numbers':12}

In [41]:
new_line

{'Chars': 'd', 'Numbers': 12}

In [48]:
frame = frame.append(new_line, ignore_index = 7)
frame

    Unnamed: 0 chars  numbers Chars  Numbers
0            0     a        0   NaN      NaN
1            1     a        1   NaN      NaN
2            2     a        2   NaN      NaN
3            3     a        3   NaN      NaN
4            4     a        4   NaN      NaN
5            5     a        5   NaN      NaN
6            6     a        6   NaN      NaN
7            7     a        7   NaN      NaN
8            8     a        8   NaN      NaN
9            9     a        9   NaN      NaN
10         NaN   NaN      NaN     d       12
11         NaN   NaN      NaN     d       12

In [54]:
frame.drop([5,10], axis=0, inplace=True)

In [55]:
frame

    Unnamed: 0 chars  numbers Chars  Numbers
0            0     a        0   NaN      NaN
1            1     a        1   NaN      NaN
2            2     a        2   NaN      NaN
3            3     a        3   NaN      NaN
4            4     a        4   NaN      NaN
6            6     a        6   NaN      NaN
7            7     a        7   NaN      NaN
8            8     a        8   NaN      NaN
9            9     a        9   NaN      NaN
11         NaN   NaN      NaN     d       12

In [58]:
frame.drop('Unnamed: 0', axis=1, inplace=True)

In [59]:
frame

   chars  numbers Chars  Numbers
0      a        0   NaN      NaN
1      a        1   NaN      NaN
2      a        2   NaN      NaN
3      a        3   NaN      NaN
4      a        4   NaN      NaN
6      a        6   NaN      NaN
7      a        7   NaN      NaN
8      a        8   NaN      NaN
9      a        9   NaN      NaN
11   NaN      NaN     d       12